{% load static %}
 <!--OGP設定-->
    <meta property="og:title" content="タイトル">
    <meta property="og:description" content="ディスクリプション">
    <meta property="og:image" content="画像URL">
    <meta property="og:image:secure_url" content="画像URL">
    <meta property="og:url" content="サイトURL">
    <meta property="og:site_name" content="サイト名">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:title" content="タイトル">
    <meta name="twitter:description" content="ディスクリプション">
    <meta name="twitter:image" content="画像URL">
    <meta name="twitter:card" content="summary">